<!DOCTYPE html>
<html lang="en">

<!-- Head partials -->
<%- include('./partials/head.ejs') %>

<body>
    <!-- Nav partials -->
    <%- include('./partials/nav.ejs') %>
      <div id='itemContainer' class="container">
        <ul class="collection with-header">
            <% if(items.length > 0){ %>
                <% items.map(item =>{ %>
                  <li class="collection-item">
                    <div><a href="/item<%= item._id %>"><%= item.name %> $ <%= item.price %></a>
                      <a href="#!" class="secondary-content"><i class="material-icons" data-id="<%= item._id%>">delete</i>
                        <i class="material-icons modal-trigger" data-id="<%= item._id%>" href="#edit_modal">edit</i>
                      </a></div></li>
                <%}); %>  
            <% }else{ %>
            <p>There are no results </p>
            <% } %>
        </ul>
      </div>
        <!-- Modal Structure -->
      <div id="edit_modal" class="modal">
        <div class="modal-content">
          <h4>Edit Form</h4>
          <form id="edit_form" action="">
              <input type="text" name="name" placeholder="Item Name">
              <input type="number" name="price" placeholder="Item Price">
              <button class="btn">update</button>
          </form>
        </div>
      </div>
      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script>

       var updateId;

        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.modal');
          var instances = M.Modal.init(elems);
        });

        edit_form.onsubmit = async (e) => {
          e.preventDefault();
          let data = new FormData(edit_form);
          let response = await fetch(`/item/${updateId}`,{
              method:'PUT',
              body: new URLSearchParams(data),
              headers: new Headers({
                'Content-type':'application/x-www-form-urlencoded; charset=UTF-8'
              })
          })
          let result = await response.json();
          console.log(result);
          edit_form.reset();
          window.location.reload();
          alert(result.msg);
        }

          itemContainer.onclick = (e) => {
              if(e.target.textContent === 'edit'){
                updateId = e.target.getAttribute('data-id');
                console.log(updateId);
              }
              if(e.target.textContent === 'delete'){
                const id = e.target.getAttribute('data-id');
                // to pass the app.js then create the delete 
                const endpoint = `/item/${id}`;
                fetch(endpoint,{
                    method:'DELETE'
                }).then(res => res.json())
                    .then(data => {
                        console.log('data',data);
                        window.location.href = data.redirect;
                        
                    })
                .catch(err => console.log(err));
              }

          }
      

     </script>
</body>
</html>